---
title: Blog Língua de Gato app
---
<!DOCTYPE html>
<html>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/default.css">
  <link rel="stylesheet" href="/stylesheets/blog.css">

  <body class="colors-white-black">

    <!-- Nabar -->
    <div class="navbar container colors-white padding-16">

      <!-- home icon (Lingua de Gato logo) -->
        <div class="float-left">
          <a href="/" target="_blank">
            <img src="/images/logo/icon-medium.png" style="height: 51px;" alt="<%= t(:img_logo_description) %>">
          </a>
        </div>

      <!-- Blog title -->
        <div class="float-left" style="margin-left: 15%;">
          <img src="/images/logo/lingua-de-gato-black-desktop.png" alt="<%= t(:logo_description) %>" class="title-img hide-small">

          <img src="/images/logo/lingua-de-gato-black-mobile.png" alt="<%= t(:logo_description) %>" class="title-img hide-large hide-medium">
          <p>Blog</p>
        </div>

      <!-- Language -->
        <div class="float-right colors-black hover-colors-pink">
          <a href="<%= t(:language_link) %>">
            <!-- <%= t(:language) %> --> ENGLISH
          </a>
        </div>

    </div>


    <div class="blog-content">
      <div class="height-50px">

      </div>
      <!-- Grid -->
      <div class="row">
        <!-- Blog entries -->
        <div style="margin: auto; width: 66%">

          <!-- Blog entry -->
          <div class="card-4 margin colors-white-black">
            <img src="/images/background/placeit-big.png" alt="Nature" style="width:100%">
            <div class="container padding-8">
              <h3><b>TITLE HEADING</b></h3>
              <h5>Title description, <span class="opacity">April 7, 2014</span></h5>
              <div class="w3-container">
                <p>
                  Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sedtellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
                </p>
                <div class="row">
                  <div class="col m8 s12">
                    <p>
                      <button class="btn padding-large colors-white-black border hover-border-black">
                        <b>READ MORE »</b>
                      </button>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div> <!-- END BLOG ENTRIES -->

    </div>

  <!-- Footer -->
  <footer class="container padding-32 margin-top">
    <!-- AppStore and Facebook links -->
    <div class="links float-left">
      <a href="https://itunes.apple.com/app/id1071864943?mt=8" target="_blank" style="display: inline-block;">
        <img src="<%= t(:appStore_image) %>" class="width-160px" alt="<%= t(:img_appStore_description) %>">
      </a>

      <a href="https://www.facebook.com/linguadegatoapp" target="_blank" style="display: inline-block;">
        <img src="/images/facebook.png" class="facebook-img" alt="<%= t(:img_facebook_description) %>">
      </a>
    </div>

    <!-- Btn to top -->
    <div class="top-btn float-right">
      <span class="display-none padding-medium hide-small"><%= t(:top_message) %></span>
      <a class="btn" href="#">
        <span class="font-size-xlarge">
            <img src="/images/arrow-up/up-pink.png" alt="<%= t(:img_up_description) %>">
        </span>
      </a>
    </div>

    <div class="float-right">
      <button class="btn disabled padding-large margin-bottom colors-orange-white">Previous</button>
      <button class="btn padding-large margin-bottom colors-orange-white">Next »</button>
    </div>

  </footer>

  </body>
</html>
