---
title: Língua de Gato app
---
<!DOCTYPE html>
<html>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <body>

  <!-- ******* Navbar ******* -->
    <div class="top" id="navbar">

      <!-- Navbar on not small screens: list -->
      <ul class="navbar colors-green-white left-align">

        <!-- 1st element: menu icon [small screen] -->
        <li class="hide-medium hide-large float-right opennav">
          <a class="colors-green-white hover-colors-white-black" href="javascript:void(0);" onclick="openMenu()">
            <!-- Icon of the menu (3 horizontal bars) on the right side on small screens-->
            <div class="menu-icon">
              <div class="menu-bar1"></div>
              <div class="menu-bar2"></div>
              <div class="menu-bar3"></div>
            </div>
          </a>
        </li>

        <!-- 2nd element: language -->
        <li class=" float-right opennav">
          <a class="colors-green-white hover-colors-white-black" href="<%= t(:language_link) %>">
            <%= t(:language) %>
          </a>
        </li>

        <!-- 3rd element: home icon (Lingua de Gato logo) -->
        <li>
          <a href="#" style="padding-top: 0px; padding-bottom: 0px;">
            <img src="/images/logo/icon-small.png" alt="">
          </a>
        </li>

        <!-- Other element: menu options (will not appear on small screen) -->
        <li class="hide-small"><a href="#articles" class="hover-colors-white-black"><%= t(:menu1) %></a></li>
        <li class="hide-small"><a href="#team" class="hover-colors-white-black"><%= t(:menu2) %></a></li>
        <li class="hide-small"><a href="#thanks" class="hover-colors-white-black"><%= t(:menu3) %></a></li>
        <li class="hide-small"><a href="#contact" class="hover-colors-white-black"><%= t(:menu4) %></a></li>
     </ul>

      <!-- Navbar on small screens (change classes when it is suposed to appear or not)-->
      <div id="navbarSmall" class="hide hide-large hide-medium">
        <ul class="navbar left-align colors-green-white">
          <li><a href="#team" class="hover-colors-white-black"><%= t(:menu1) %></a></li>
          <li><a href="#articles" class="hover-colors-white-black"><%= t(:menu2) %></a></li>
          <li><a href="#thanks" class="hover-colors-white-black"><%= t(:menu3) %></a></li>
          <li><a href="#contact" class="hover-colors-white-black"><%= t(:menu4) %></a></li>
        </ul>
      </div>

    </div>

  <!-- *******  Header ******* -->
    <div id="header">
      <img src="/images/background/background_WhiteBlue.jpg" alt="" style="width:100%;min-height:350px;max-height:600px;">
    </div>

  <!-- *******  Pillars Container ******* -->
    <div class="padding-64 text-center container" id="pillars">

      <div class="row"><br>

        <div class="third">
          <img src="/images/pillars/fun.jpg" alt="Fun" style="width:45%" class="circle">
          <h3><%= t(:pillar1_title) %></h3>
          <p><%= t(:pillar1_description) %></p>
        </div>

        <div class="third">
          <img src="/images/pillars/teach.jpg" alt="Teach" style="width:45%" class="circle">
          <h3><%= t(:pillar2_title) %></h3>
          <p><%= t(:pillar2_description) %></p>
        </div>

        <div class="third">
          <img src="/images/pillars/together.jpg" alt="Together" style="width:45%" class="circle">
          <h3><%= t(:pillar3_title) %></h3>
          <p><%= t(:pillar3_description) %></p>
        </div>

      </div>
    </div>

  <!-- *******  Articles Row ******* -->
    <div class="padding-64 colors-pink-white row-padding" id="articles">

      <div class="quarter">
        <h2><%= t(:section1_title) %></h2>
      </div>

      <div class="quarter">
        <div class="box colors-white-black">
          <div class="container">
            <h3><%= t(:article2_title) %></h3>
            <p class="colors-green"><%= t(:article_pt_message) %></p>
            <h4><%= t(:article2_event) %></h4>
            <p><%= t(:article2_autor) %></p>
          </div>
        </div>
      </div>

      <div class="quarter">
        <div class="box colors-white-black">
          <div class="container">
            <h3><%= t(:article1_title) %></h3>
            <p class="colors-green"><%= t(:article_pt_message) %></p>
            <h4><%= t(:article1_event) %></h4>
            <p><%= t(:article1_autor) %></p>
          </div>
        </div>
      </div>

    </div>

  <!-- *******  Team Row ******* -->
    <div class="padding-64 text-center row-padding" id="team">
        <h2><%= t(:section2_title) %></h2>
        <br>

        <div class="third margin-bottom">
          <img src="/images/team/alline.png" alt="Alline Kobayashi" style="width:45%" class="circle">
          <h3><%= t(:team1_name) %></h3>
          <a class="btn hover-colors-pink-white colors-blue-white" href="https://br.linkedin.com/in/alline-kobayashi-b9083345" role="button" target="_blank">LinkedIn</a>
          <a class="btn hover-colors-pink-white colors-blue-white" href="http://lattes.cnpq.br/8071107008406828" role="button" target="_blank">Lattes</a>
        </div>

        <div class="third margin-bottom">
          <p><%= t(:team1_description) %></p>
        </div>
    </div>

  <!-- *******  Thanks Row ******* -->
    <div class="padding-64 colors-orange-white row-padding" id="thanks">

      <div class="quarter">
        <h2><%= t(:section3_title) %></h2>
      </div>

      <div class="quarter">
        <div class="box colors-white-black">
          <div class="container">
            <h3><%= t(:thanks1_name) %></h3>
            <p><%= t(:thanks1_description) %></p>
            <p>
              <a class="btn colors-green-white hover-colors-orange-white" href="<%= t(:thanks1_linkedin) %>" role="button" target="_blank">LinkedIn</a>
              <a class="btn colors-green-white hover-colors-orange-white" href="<%= t(:thanks1_portfolio_link) %>" role="button" target="_blank"><%= t(:thanks1_portfolio) %></a>
            </p>
          </div>
        </div>
      </div>

      <div class="quarter">
        <div class="box colors-white-black">
          <div class="container">
            <h3><%= t(:thanks2_name) %></h3>
            <p><%= t(:thanks2_description) %></p>
          </div>
        </div>
      </div>

      <div class="quarter">
        <div class="box colors-white-black">
          <div class="container">
            <h3><%= t(:thanks3_name) %></h3>
            <p><%= t(:thanks3_description) %></p>
            <p>
              <a class="btn colors-green-white hover-colors-orange-white" href="<%= t(:thanks3_linkedin) %>" role="button" target="_blank">LinkedIn</a>
            </p>
          </div>
        </div>
      </div>

    </div>

  <!-- *******  Contact Container ******* -->
    <div class="padding-64 colors-lightgrey-black container" id="contact">
      <div class="row">
        <!-- <div class="col m5"> -->
          <div class="padding-16">
            <span class="font-size-xlarge underline-pink">
              <%= t(:contact) %>
            </span>
          </div>
          <p><%= t(:contact_message) %></p>
          <img src="/images/mail/mail-pink.png" alt="">
          contato@linguadegatoapp.com.br
        <!-- </div> -->
      </div>
    </div>

  <!-- *******  Footer ******* -->
    <footer class="padding-32 colors-green-white text-center container">

      <!-- Footer: AppStore link -->
      <a href="https://itunes.apple.com/app/id1071864943?mt=8" title="Link to AppStore" target="_blank">
        <img src="/images/localizable/appStore/appStore-download-en.svg" style="width: 160px">
      </a>

      <!-- Footer: button to top -->
      <div class="top-btn float-right">
        <span class="display-none padding-medium colors-green-white hide-small"><%= t(:top_message) %></span>
        <a class="btn colors-green-white" href="#">
          <span class="font-size-xlarge">
              <img src="/images/arrow-up/up-white.png">
          </span>
        </a>
      </div>
    </footer>

  <!-- *******  Scripts ******* -->
    <script>
      // Used to toggle the menu on smaller screens when clicking on the menu button
      function openMenu() {
          var x = document.getElementById("navbarSmall");
          if (x.className.indexOf("show-block") == -1) {
              x.className += " show-block";
          } else {
              x.className = x.className.replace(" show-block", "");
          }
      }
    </script>

  </body>
</html>
