---
title: Língua de Gato app
---

<body>
  <div class="navbar-wrapper">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div>
            <a class="navbar-brand" href="#contato"><%= t(:contact) %></a>
            <span class="navbar-brand">|</span>
            <a class="navbar-brand" href="https://www.facebook.com/linguadegatoapp" target="_blank">Facebook</a>
            <span class="navbar-brand">|</span>
            <a class="navbar-brand" href="<%= t(:language_link) %>">
              <!-- <img src="<%= t(:language_flag) %>"> -->
              <%= t(:language) %>
            </a>
            <a href="https://itunes.apple.com/app/id1071864943?mt=8" class="" target="_blank">
              <img class="appstore-download" src="<%= t(:appStore_image) %>">
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="header">
    <div class="header-content">
      <img class="logo" src="/images/logo/icon.png" class="icon" />
      <img class="title" src="/images/logo/lingua_de_gato_letras.png" />
    </div>
  </div>


  <!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      <li data-target="#myCarousel" data-slide-to="3" class=""></li>
      <li data-target="#myCarousel" data-slide-to="4" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="container">
          <div class="carousel-caption">
            <img class="ipad-screen" src="/images/ipad/1.png" />
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <div class="carousel-caption">
            <img class="ipad-screen" src="/images/ipad/2.png" />
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <div class="carousel-caption">
            <img class="ipad-screen" src="/images/ipad/3.png" />
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <div class="carousel-caption">
            <img class="ipad-screen" src="/images/ipad/4.png" />
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <div class="carousel-caption">
            <img class="ipad-screen" src="/images/ipad/5.png" />
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="http://getbootstrap.com/examples/carousel/#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only"><%= t(:previous) %></span>
    </a>
    <a class="right carousel-control" href="http://getbootstrap.com/examples/carousel/#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only"><%= t(:next) %></span>
    </a>
  </div><!-- /.carousel -->


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="img-circle" src="/images/pillars/fun.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="divertir"><%= t(:pillar1_title) %></h2>
        <p><%= t(:pillar1_description) %></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="/images/pillars/teach.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="desenvolver"><%= t(:pillar2_title) %></h2>
        <p><%= t(:pillar2_description) %></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="/images/pillars/together.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="aproximar"><%= t(:pillar3_title) %></h2>
        <p><%= t(:pillar3_description) %></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <!-- START VIDEO -->
    <!--
    <hr class="featurette-divider">
    <div class="row featurette">
      <div>
        <iframe class="video" src="https://www.youtube.com/embed/W2EA2EgqR5o" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    -->
    <!-- END VIDEO -->

    <!-- /END THE FEATURETTES -->

    <hr class="featurette-divider">

    <h2 class="featurette-heading sub-title"><%= t(:section1_title) %></h2>

    <div class="row">

      <div class="col-lg-4">
        <img class="img-circle" src="/images/team/alline.png" alt="Generic placeholder image" width="140" height="140">
        <h2 class="desenvolver"><%= t(:team1_name) %></h2>
      </div>
      <div class="col-lg-4">
        <p><%= t(:team1_description) %></p>
      </div>
      <div class="col-lg-4">
        <p>
        </br></br></br></br>
          <a class="btn btn-default" href="https://br.linkedin.com/in/alline-kobayashi-b9083345" role="button" target="_blank">LinkedIn</a>
          <a class="btn btn-default" href="http://lattes.cnpq.br/8071107008406828" role="button" target="_blank">Lattes</a>
        </p>
      </div>

    </div>

    <hr class="featurette-divider">

    <h2 class="featurette-heading sub-title"><%= t(:section2_title) %></h2>

    <div class="row featurette">
        <div id="artigos" class="col-md-10">
            <a class="lead" href="<%= t(:article2_link) %>" target="_blank"><%= t(:article2_title) %></a>
            <p>
              <%= t(:article2_autor) %><br/>
              <%= t(:article2_event) %><br/>
            </p>
            <p>
              <%= t(:article2_description) %><br/>
            </p>

            <a class="lead" href="<%= t(:article1_link) %>" target="_blank"><%= t(:article1_title) %></a>
            <p>
              <%= t(:article1_autor) %><br/>
              <%= t(:article1_event) %><br/>
            </p>
            <p>
              <%= t(:article1_description) %><br/>
            </p>
        </div>
    </div>

    <hr class="featurette-divider">

    <h2 class="featurette-heading sub-title"><%= t(:section3_title) %></h2>

    <div class="row">
      <div class="col-lg-4">
        <h2 class="divertir"><%= t(:thanks1_name) %></h2>
          <p><%= t(:thanks1_description) %></p>
          <p>
            <a class="btn btn-default" href="<%= t(:thanks1_linkedin) %>" role="button" target="_blank">LinkedIn</a>
            <a class="btn btn-default" href="<%= t(:thanks1_portfolio_link) %>" role="button" target="_blank"><%= t(:thanks1_portfolio) %></a>
          </p>
      </div>

      <div class="col-lg-4">
        <h2 class="desenvolver"><%= t(:thanks2_name) %></h2>
          <p><%= t(:thanks2_description) %></p>
      </div>

      <div class="col-lg-4">
        <h2 class="aproximar"><%= t(:thanks3_name) %></h2>
          <p><%= t(:thanks3_description) %></p>
          <p>
            <a class="btn btn-default" href="<%= t(:thanks3_linkedin) %>" role="button" target="_blank">LinkedIn</a>
          </p>
      </div>

    </div>

    <hr class="featurette-divider">

    <h2 class="featurette-heading sub-title"><%= t(:contact) %></h2>

    <div class="row featurette">
      <div id="contato" class="col-md-10">
        <p class="lead"><%= t(:contact_message) %></p>
        <p class="lead"><%= t(:contact_email_message) %> <span class="email-contato">contato@linguadegatoapp.com.br</span></p>
      </div>
    </div>

    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#top"><%= t(:top_message) %></a></p>
      <p>
        <a href="/privacidade.html" class="footer-item" target="_blank"><%= t(:privacy) %></a>|
        <a href="/suporte.html" class="footer-item" target="_blank"><%= t(:support) %></a>
      </p>
    </footer>

  </div><!-- /.container -->
